*
{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.choose
{
  display: flex;
  justify-content: center;
  outline: none;
  color: saddlebrown;
}


.topHead
{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: whitesmoke;
}

.backHead
{
  background-color: #1A1A1B;
  padding: 10px;
}

.s-info
{
  font-size: 20px;
}

.io
{
  height: 200px;
  -webkit-user-drag: none;
  user-select: none;
}

.size{
  font-size: 20px;
}

.gen{
  font-size: 13px;
}

.btn{
  outline: none;
  border: 3px solid rgba(70, 59, 59, 0.434);
  padding: 5px;
  cursor: pointer;
  color:black;
}

.outer-card {
  
  font-size: 30px;
  background-color: #f1f1f1;
  padding: 1px;
  
  
}

.inner-card:hover {
  
  
  transition: 0.5s ;
  padding: 15px;
  
}

.inner-card {
  background-color: #f1f1f1;
  width: 210px;
  height: 350px;
  transition: 0.5s;
  text-align: center;
  justify-content: center;
  padding: 10px;font-family: 'Roboto Condensed', sans-serif;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;justify-content:center;
}

.flex-container > .flex-item {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
 
.topHead
{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #F40612;
}

.backHead
{
  background-color: #1A1A1B;
  padding: 10px;
}

.s-info
{
  font-size: 20px;
}

.io
{
  height: 200px;
  -webkit-user-drag: none;
  user-select: none;
}

.size{
  font-size: 20px;
}

.gen{
  font-size: 13px;
}

.btn{
  outline: none;
  border: 3px solid rgba(70, 59, 59, 0.434);
  padding: 5px;
  cursor: pointer;
  color:black;
}

.outer-card {
  
  font-size: 30px;
  background-color: #f1f1f1;
  padding: 1px;
  
  
}

.inner-card:hover {
  
  
  transition: 0.5s ;
  padding: 15px;
  
}

.inner-card {
  background-color: #f1f1f1;
  width: 210px;
  height: 350px;
  transition: 0.5s;
  text-align: center;
  justify-content: center;
  padding: 10px;font-family: 'Roboto Condensed', sans-serif;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;justify-content:center;
}

.flex-container > .flex-item {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}
}
